.tree {
  .label {
    text-anchor: middle;
    pointer-events : none;
    color: white;
  }

  .node {
    @apply border-solid w-24 h-24 rounded-full;
    border-width: var(--connector-width);

    &-assigned {
      @apply bg-gray-50 border-gray-800;
      &:before { @apply border-gray-800; }
      &:after { @apply border-gray-800; }
    }

    &-in_progress {
      @apply bg-green-200 border-green-800;
      &:before { @apply border-green-500; }
      &:after { @apply border-green-500; }
    }

    &-testing {
      @apply bg-indigo-200 border-indigo-600;
      &:before { @apply border-indigo-500; }
      &:after { @apply border-indigo-500; }
    }

    &-done {
      @apply bg-gray-100 border-gray-400 text-gray-400;
      &:before { @apply border-gray-500; }
      &:after { @apply border-gray-500; }
    }

    &-blocked {
      @apply bg-red-300 border-red-600;
      &:before { @apply border-red-500; }
      &:after { @apply border-red-500; }
    }
  }
}