---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/tree/one/webhook
    body:
      encoding: UTF-8
      string: '{"text":"test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-uiuf
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Tue, 22 Feb 2022 08:07:12 GMT
- request:
    method: post
    uri: https://hooks.slack.com/services/tree/one/webhook
    body:
      encoding: UTF-8
      string: '{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":"\u003e
        *hello*"}},{"type":"context","elements":[{"type":"mrkdwn","text":"New comment
        on Goal \u003chttp://beacon.cociety.test/goals/d931083b-d41c-5a0d-9fbb-16f0ca5c5d72|parent_1\u003e
        by"},{"type":"image","image_url":"http://cociety.test:3000/customer/258e2698-2a7d-5d82-a896-a2c9ee26786d/avatar","alt_text":"Justin
        Robinson"},{"type":"plain_text","text":"Justin Robinson"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-zxlr
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Tue, 22 Feb 2022 08:33:45 GMT
