---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: user=user_1
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - incoming-webhook,links:read,im:write,chat:write,channels:read,chat:write.public,chat:write.customize,app_mentions:read,users:read.email,users:read,links:write,commands
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Req-Id:
      - 2841ceec6415e1b94ec004234916462b
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-tqvg
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"user_1","team_id":"TEAM_ID","name":"melissa","deleted":false,"color":"9f69e7","real_name":"melissa","tz":"America\/New_York","tz_label":"Eastern
        Daylight Time","tz_offset":-14400,"profile":{"title":"","phone":"","skype":"","real_name":"melissa","real_name_normalized":"melissa","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"g331dc43d92d","email":"melissa@cociety.org","first_name":"melissa","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/331dc43d92d3649bd6ee00b745cc206f.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-512.png","status_text_canonical":"","team":"TEAM_ID"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1646423369,"is_email_confirmed":true,"who_can_share_contact_card":"EVERYONE"}}'
  recorded_at: Tue, 15 Mar 2022 03:10:38 GMT
recorded_with: VCR 6.0.0
