<%= form_with model: tree, id: dom_id(tree), method: :post do |f| %>
  <div class="flex">
    <%= f.button type: :submit, class:'btn primary' do %>
      <%= render '/svg/save', w: 'w-4', h: 'w-4' %>
      <span class="ml-1"><%= t('trees.create')%></span>
    <% end %>
  </div>
<% end %>