<%= render 'actions' do %>
  <%= render '/trees/form', tree: @tree %>
<% end %>
<div class="w-full flex flex-col items-center">
  <h1 class="text-2xl"><%= t('.header') %></h1>
  <ul class="px-2 space-y-2 w-full sm:w-96">
    <%= render collection: @trees, partial: 'trees/preview', as: :tree %>
  </ul>
</div>