<%= render '/trees/form', tree: @tree %>
<div class="w-full flex justify-center">
  <div class="grid grid-cols-4 gap-4 shadow p-2 m-2 rounded">
    <%= render collection: @trees, partial: 'trees/preview', as: :tree %>
  </div>
</div>