<div id="quick-view-<%= goal.id %>" class="transition-opacity fixed rounded-md w-96 border hidden opacity-0 bg-gray-100 shadow-md overflow-hidden p-2">
  <div class="flex flex-col">
    <span class="text-sm truncate"><%= goal.name %></span>
  </div>
</div>