<h1>
  <% if customer_signed_in? %>
    <%= "Hi #{current_customer.first_name} #{current_customer.last_name}" %>
  <% else %>
    <a href="<%= sign_in_url %>" >
      Sign in
    </a>
  <% end %>
</h1>
