<div>
  <span class="form-label"><%= t('.comments') %></span>
  <ul class="max-h-60 overflow-y-scroll">
      <%= render comments %>
  </ul>
  <% comment = Comment.new %>
  <% if policy(goal).edit? && policy(comment).create? %>
    <%= render 'comments/form', comment: comment, on: goal, button_text: t('comment.create')%>
  <% end %>
</div>