<%= content_tag :li,
  draggable: true,
  ondragstart: 'DaD.dragStartHandler(event)',
  ondragover: 'DaD.dragOverHandler(event)',
  ondrop: 'DaD.dropHandler(event)',
  id: dom_id(goal) do -%>
  <span class="node">
    <span class="text">
      <p>
        <span aria-hidden='true'></span>
        <%= goal.name %>
      </p>
    </span>
  </span>
  <ul>
    <%= render goal.children unless goal.children.empty? -%>
  </ul>
<%- end -%>