<li>
  <span class="node">
    <span class="text">
      <p>
        <span aria-hidden='true'></span>
        <%= goal.name %>
      </p>
    </span>
  </span>
  <%- unless goal.children.empty? -%>
    <ul>
      <%= render goal.children %>
    </ul>
  <%- end -%>
</li>